.flex
{
  display: flex;
}

.text-center
{
  text-align: center;
}
.square
{
  box-sizing: border-box;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  text-align: center;
}

.board
{
  width: 90px;
  display: flex;
  flex-wrap: wrap;
}